## Deliverable 2. Create a Customer Travel Destinations Map.

In [1]:
#pip install gmaps

In [2]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests
# Import the API key.
from config import g_key

In [3]:
# 1. Import the WeatherPy_database.csv file. 
city_data_df = pd.read_csv("Weather_Database/WeatherPy_database.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,Georgetown,MY,2021-08-14 17:38:41,5.4112,100.3354,82.33,90,20,2.30,few clouds
1,1,Rikitea,PF,2021-08-14 17:38:57,-23.1203,-134.9692,74.41,81,68,17.31,broken clouds
2,2,Atuona,PF,2021-08-14 17:38:57,-9.8000,-139.0333,77.88,81,27,17.56,scattered clouds
3,3,Neiafu,TO,2021-08-14 17:38:58,-18.6500,-173.9833,68.68,73,20,2.30,few clouds
4,4,Hermanus,ZA,2021-08-14 17:34:10,-34.4187,19.2345,51.80,79,0,13.24,clear sky

In [7]:
# Ask the customer to add a min and max temp value
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 80

In [8]:
# 3. Filter the city_data_df DataFrame using the input statements to create a new DataFrame using the loc method.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
2,2,Atuona,PF,2021-08-14 17:38:57,-9.8000,-139.0333,77.88,81,27,17.56,scattered clouds
7,7,Soyo,AO,2021-08-14 17:34:11,-6.1349,12.3689,77.05,87,40,10.42,scattered clouds
9,9,Labuhan,ID,2021-08-14 17:34:12,-6.8844,112.2051,77.47,82,51,6.85,broken clouds
23,23,Kitob,UZ,2021-08-14 17:39:05,39.0843,66.8332,75.78,24,0,7.83,clear sky
28,28,Faanui,PF,2021-08-14 17:39:07,-16.4833,-151.7500,78.31,73,4,5.37,clear sky
...,...,...,...,...,...,...,...,...,...,...,...
637,637,Miri,MY,2021-08-14 17:43:09,4.4148,114.0089,75.34,94,40,2.30,thunderstorm with light rain
638,638,Havre-Saint-Pierre,CA,2021-08-14 17:43:10,50.2334,-63.5986,77.36,78,1,10.36,clear sky
645,645,Olinda,BR,2021-08-14 17:43:13,-8.0089,-34.8553,76.73,69,40,18.41,scattered clouds
650,650,Valle De Allende,MX,2021-08-14 17:43:15,26.9333,-105.4000,79.48,44,80,6.78,broken clouds
657,657,Lasa,IT,2021-08-14 17:43:18,46.6166,10.7002,79.68,77,61,2.33,broken clouds

In [9]:
# 4a. Determine if there are any empty rows.
preferred_cities_df.count()
# or
preferred_cities_df.isnull().sum()

City_ID                0
City                   0
Country                0
Date                   0
Lat                    0
Lng                    0
Max Temp               0
Humidity               0
Cloudiness             0
Wind Speed             0
Current Description    0
dtype: int64

In [10]:
# 4b. Drop any empty rows and create a new DataFrame that doesn’t have empty rows.
clean_df = preferred_cities_df.dropna()
clean_df

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
2,2,Atuona,PF,2021-08-14 17:38:57,-9.8000,-139.0333,77.88,81,27,17.56,scattered clouds
7,7,Soyo,AO,2021-08-14 17:34:11,-6.1349,12.3689,77.05,87,40,10.42,scattered clouds
9,9,Labuhan,ID,2021-08-14 17:34:12,-6.8844,112.2051,77.47,82,51,6.85,broken clouds
23,23,Kitob,UZ,2021-08-14 17:39:05,39.0843,66.8332,75.78,24,0,7.83,clear sky
28,28,Faanui,PF,2021-08-14 17:39:07,-16.4833,-151.7500,78.31,73,4,5.37,clear sky
...,...,...,...,...,...,...,...,...,...,...,...
637,637,Miri,MY,2021-08-14 17:43:09,4.4148,114.0089,75.34,94,40,2.30,thunderstorm with light rain
638,638,Havre-Saint-Pierre,CA,2021-08-14 17:43:10,50.2334,-63.5986,77.36,78,1,10.36,clear sky
645,645,Olinda,BR,2021-08-14 17:43:13,-8.0089,-34.8553,76.73,69,40,18.41,scattered clouds
650,650,Valle De Allende,MX,2021-08-14 17:43:15,26.9333,-105.4000,79.48,44,80,6.78,broken clouds
657,657,Lasa,IT,2021-08-14 17:43:18,46.6166,10.7002,79.68,77,61,2.33,broken clouds

In [11]:
# 5a. Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = clean_df[["City", "Country", "Max Temp", "Current Description", "Lat", "Lng"]].copy()

# 5b. Create a new column "Hotel Name"
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
2,Atuona,PF,77.88,scattered clouds,-9.8000,-139.0333,
7,Soyo,AO,77.05,scattered clouds,-6.1349,12.3689,
9,Labuhan,ID,77.47,broken clouds,-6.8844,112.2051,
23,Kitob,UZ,75.78,clear sky,39.0843,66.8332,
28,Faanui,PF,78.31,clear sky,-16.4833,-151.7500,
31,Vila,PT,79.70,broken clouds,42.0304,-8.1588,
35,Umm Kaddadah,SD,77.00,overcast clouds,13.6017,26.6876,
40,Puerto Ayora,EC,76.96,overcast clouds,-0.7393,-90.3518,
49,Paka,MY,76.93,overcast clouds,4.6374,103.4368,
50,Axim,GH,77.18,clear sky,4.8699,-2.2405,

In [12]:
# 6a. Set parameters to search for hotels with 5000 meters.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

# 6b. Iterate through the hotel DataFrame.
for index, row in hotel_df.iterrows():
    # 6c. Get latitude and longitude from DataFrame
    lat = row["Lat"]
    lng = row["Lng"]
    
    params["location"] = f"{lat}, {lng}"
    
    # 6d. Set up the base URL for the Google Directions API to get JSON data.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

    # 6e. Make request and retrieve the JSON data from the search. 
    hotels = requests.get(base_url, params=params).json()
    
    # 6f. Get the first hotel from the results and store the name, if a hotel isn't found skip the city.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [13]:
hotel_df.head(10)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
2,Atuona,PF,77.88,scattered clouds,-9.8000,-139.0333,Villa Enata
7,Soyo,AO,77.05,scattered clouds,-6.1349,12.3689,Hotel Mpampa
9,Labuhan,ID,77.47,broken clouds,-6.8844,112.2051,PT PPI Lamongan Tambak C
23,Kitob,UZ,75.78,clear sky,39.0843,66.8332,KESH HOTEL
28,Faanui,PF,78.31,clear sky,-16.4833,-151.7500,Bora-Bora Pearl Beach Resort & Spa
31,Vila,PT,79.70,broken clouds,42.0304,-8.1588,Hotel Castrum Villae by Walk Hotels
35,Umm Kaddadah,SD,77.00,overcast clouds,13.6017,26.6876,
40,Puerto Ayora,EC,76.96,overcast clouds,-0.7393,-90.3518,Finch Bay Galapagos Hotel
49,Paka,MY,76.93,overcast clouds,4.6374,103.4368,RUMBIA RESORT VILLA
50,Axim,GH,77.18,clear sky,4.8699,-2.2405,Axim Beach Resort And Spa

In [14]:
# 7. Drop the rows where there is no Hotel Name.
clean_hotel_df = hotel_df[hotel_df["Hotel Name"] != '']
clean_hotel_df.head(10)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
2,Atuona,PF,77.88,scattered clouds,-9.8000,-139.0333,Villa Enata
7,Soyo,AO,77.05,scattered clouds,-6.1349,12.3689,Hotel Mpampa
9,Labuhan,ID,77.47,broken clouds,-6.8844,112.2051,PT PPI Lamongan Tambak C
23,Kitob,UZ,75.78,clear sky,39.0843,66.8332,KESH HOTEL
28,Faanui,PF,78.31,clear sky,-16.4833,-151.7500,Bora-Bora Pearl Beach Resort & Spa
31,Vila,PT,79.70,broken clouds,42.0304,-8.1588,Hotel Castrum Villae by Walk Hotels
40,Puerto Ayora,EC,76.96,overcast clouds,-0.7393,-90.3518,Finch Bay Galapagos Hotel
49,Paka,MY,76.93,overcast clouds,4.6374,103.4368,RUMBIA RESORT VILLA
50,Axim,GH,77.18,clear sky,4.8699,-2.2405,Axim Beach Resort And Spa
52,Hilo,US,75.79,light rain,19.7297,-155.0900,Hilo Hawaiian Hotel

In [15]:
# 8a. Create the output File (CSV)
output_data_file = "Vacation_Search/WeatherPy_vacation.csv"
# 8b. Export the City_Data into a csv
clean_hotel_df.to_csv(output_data_file, index_label="City_ID")

In [16]:
# 9. Using the template add city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Weather Description</dt><dd>{Current Description}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

# 10a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in clean_hotel_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = clean_hotel_df[["Lat", "Lng"]]

In [18]:
# 11a. Add a marker layer for each city to the map. 
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
# 11b. Display the figure
fig = gmaps.figure(center=(28.0, 29.0), zoom_level=1.5)
fig.add_layer(marker_layer)
fig

Figure(layout=FigureLayout(height='420px'))